@import "tailwindcss";

.flex-col-center {
  @apply flex flex-col items-center;
}

.flex-row-center {
  @apply flex flex-row items-center;
}

@theme {
  --color-yellow: #e7d393;
  --color-white-100: #efefef;
  --font-sans: "Mona Sans", sans-serif;
  --font-modern-negra: "Modern Negra", sans-serif;
  --font-serif: "DM Serif Text", serif;
  --breakpoint-xs: 20rem;
}

html,
body {
  width: 100%;
  /* height: auto; */
  background-color: black;
  scroll-behavior: smooth;
  overflow-x: hidden;
  color: white;
}

@utility masked-img {
  mask-image: url("/images/mask-img.png");
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: 50%;
}

@utility radial-gradient {
  background: radial-gradient(
    circle var(--gradient-size, 35rem) at 50% var(--gradient-y, 80%),
    #434343 0%,
    #000 50%,
    transparent 100%
  );
}

@layer base {
  /* --- H1 Styles --- */
  h1 {
    @apply text-[13px] xs:text-xl font-bold tracking-tight; /* Small Mobile default */
    @apply sm:text-3xl; /* Standard Mobile */
    @apply md:text-4xl; /* Tablet */
    @apply lg:text-5xl; /* Desktop */
  }

  /* --- H2 Styles --- */
  h2 {
    @apply text-[13px] font-semibold xs:text-[16px]; /* Small Mobile default */
    @apply sm:text-2xl; /* Standard Mobile */
    @apply md:text-3xl; /* Tablet */
    @apply lg:text-4xl; /* Desktop */
  }

  /* --- Paragraph Styles --- */
  p {
    @apply text-[11px] leading-relaxed xs:text-[15px]; /* Small Mobile */
    @apply sm:text-sm; /* Standard Mobile */
    @apply md:text-[17px]; /* Tablet & Desktop */
  }

  /* --- Button Styles --- */
  button {
    @apply text-[10px] font-medium transition-colors xs:text-[14px]; /* Small Mobile */
    @apply sm:text-sm; /* Standard Mobile & Tablet */
    @apply lg:text-base; /* Desktop */
  }
}

@layer components {
  main {
    @apply w-screen overflow-x-hidden;
  }

  nav {
    @apply justify-between w-full flex flex-col items-center bg-black/40 h-20 overflow-hidden capitalize z-30 fixed xs:h-22 sm:h-30 md:flex md:flex-row md:h-20 lg:h-35;

    div {
      @apply h-full w-full gap-2 flex justify-center items-center md:w-[40%] bg-red-500 md:justify-start;
    }

    img {
      @apply w-[9%] h-[50%] xs:h-[70%] xs:w-[6%] sm:h-[75%] sm:w-[5%] md:h-[50%] md:w-[15%] lg:w-[4%] lg:h-[70%];
    }

    a {
      @apply text-nowrap w-full text-[11px] xs:text-[14px] sm:text-[18px];
    }

    ul {
      @apply h-full w-full flex justify-center items-center gap-2 xs:gap-5 sm:gap-15  md:w-[50%];
    }
  }

  #hero {
    @apply capitalize relative bg-[url('/images/noise.png')] w-full z-10 min-h-dvh;
  }

  .body {
    @apply absolute size-full pt-15 sm:pt-17 md:pt-25;
  }

  .hero-content {
    @apply flex flex-col items-center h-[50%] justify-center w-full gap-5 sm:h-[60%] sm:gap-5;
  }

  .hero-heading-wrapper {
    @apply w-full;
  }

  .hero-para-wrapper {
    @apply w-full flex justify-center items-center md:justify-between;
    div {
      @apply w-[40%] bg-red-600;

      p {
        @apply w-full;
      }
      h1 {
        @apply w-full;
      }
    }
    #para {
      @apply w-[90%] bg-amber-300 tracking-wide text-start xs:tracking-wider
      sm:w-[75%] sm:text-[15px] md:w-[40%] md:text-[18px];
    }
  }

  #heading {
    @apply w-full uppercase text-center tracking-wide text-5xl font-semibold xs:text-5xl sm:text-6xl md:text-9xl lg:text-9xl;
  }
}
.video {
  @apply w-full absolute inset-0;
}

video {
  @apply h-1/3 bottom-10 w-full absolute object-cover xs:h-[50%] xs:object-contain xs:-bottom-4 sm:h-[50%] sm:-bottom-0;
}

.footer {
  h1 {
    @apply w-full flex items-center justify-center tracking-widest uppercase;
  }
  h2 {
    @apply uppercase;
  }
  .content {
    @apply flex flex-col items-center justify-center gap-2 w-full;
  }
}
