@import "tailwindcss";

.flex-col-center {
  @apply flex flex-col items-center;
}

.flex-row-center {
  @apply flex flex-row items-center;
}

@theme {
  --color-yellow: #e7d393;
  --color-white-100: #efefef;
  --font-sans: "Mona Sans", sans-serif;
  --font-modern-negra: "Modern Negra", sans-serif;
  --font-serif: "DM Serif Text", serif;
  --breakpoint-xs: 20rem;
}

html,
body {
  width: 100%;
  height: auto;
  background-color: black;
  scroll-behavior: smooth;
  overflow-x: hidden;
  color: white;
}

@utility masked-img {
  mask-image: url("/images/mask-img.png");
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: 50%;
}

@utility radial-gradient {
  background: radial-gradient(
    circle var(--gradient-size, 35rem) at 50% var(--gradient-y, 80%),
    #434343 0%,
    #000 50%,
    transparent 100%
  );
}

@layer base {
  /* --- H1 Styles --- */
  h1 {
    @apply text-[13px] font-bold tracking-tight; /* Small Mobile default */
    @apply sm:text-3xl; /* Standard Mobile */
    @apply md:text-4xl; /* Tablet */
    @apply lg:text-5xl; /* Desktop */
  }

  /* --- H2 Styles --- */
  h2 {
    @apply text-[13px] font-semibold; /* Small Mobile default */
    @apply sm:text-2xl; /* Standard Mobile */
    @apply md:text-3xl; /* Tablet */
    @apply lg:text-4xl; /* Desktop */
  }

  /* --- Paragraph Styles --- */
  p {
    @apply text-[11px] leading-relaxed; /* Small Mobile */
    @apply sm:text-sm; /* Standard Mobile */
    @apply md:text-base; /* Tablet & Desktop */
  }

  /* --- Button Styles --- */
  button {
    @apply text-[10px] font-medium transition-colors; /* Small Mobile */
    @apply sm:text-sm; /* Standard Mobile & Tablet */
    @apply lg:text-base; /* Desktop */
  }
}

@layer components {
  main {
    @apply flex flex-col items-center w-screen h-auto;
  }

  nav {
    @apply justify-between w-full bg-black/40 h-20 overflow-hidden capitalize z-30 fixed;

    div {
      @apply h-full w-full gap-2 flex justify-center items-center;
    }

    img {
      @apply w-[9%] h-[50%];
    }

    a {
      @apply text-nowrap w-full text-[11px];
    }

    ul {
      @apply h-full w-full flex justify-center items-center text-[13px] gap-2 ;
    }
  }

  .bg-img {
    @apply bg-[url('/images/noise.png')] inset-0 absolute size-full;
  }
  #hero {
    @apply capitalize w-full relative min-h-dvh z-10 pt-22;
  }

  .hero-content {
    @apply flex flex-col items-center justify-center w-full gap-5;
  }

  .hero-heading-wrapper {
    @apply w-full;
  }

  .hero-para-wrapper {
    @apply w-[90%];
  }

  #heading {
    @apply w-full uppercase text-center tracking-wide text-4xl font-semibold;
  }

  #para {
    @apply w-full tracking-wide text-start;
  }

  .footer {
    h1 {
      @apply  w-full flex items-center justify-center tracking-widest uppercase ;
    }
    h2 {
      @apply uppercase;
    }
    .content {
      @apply flex flex-col items-center justify-center gap-2 w-full;
    }
  }
}
